h1 {
  background-image: url("file:///C:/Users/Albert/OneDrive/CodeAcademy/BuildWebsitesFromScratch/Projects/DasmotosArtsCrafts/resources/pattern.jpeg");
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

#Brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

#Price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

#Frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

#Paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
